<launch>
  <!-- HAL debug output -->
  <!-- - Output HAL debug messages to screen (console) -->
  <arg name="hal_debug_output" default="false" />
  <!-- - Set HAL debug level, 0-5 -->
  <arg name="hal_debug_level" default="1" />

  <!-- Set the HAL debug variables -->
  <env name="DEBUG" value="$(arg hal_debug_level)"/>
  <env name="SYSLOG_TO_STDERR"     if="$(arg hal_debug_output)" value="1"/>
  <env name="SYSLOG_TO_STDERR" unless="$(arg hal_debug_output)" value=""/>

  <!-- HAL manager node:  launch realtime environment -->
  <node
      name="hal_mgr"
      pkg="hal_hw_interface"
      type="hal_mgr.py"
      output="screen"
      required="true"
      />
</launch>
