<?xml version="1.0"?>
<launch>

  <!-- This file was copied from ros_control_boilerplate and URDF changed -->

  <!-- Load example URDF -->
  <param
      name="robot_description"
      command="$(find xacro)/xacro '$(find hal_rrbot_control)/urdf/hal_rrbot.xacro'"
      />

  <!-- Hopefully we can revert back to this someday -->
  <!-- See https://github.com/PickNikRobotics/ros_control_boilerplate/pull/27 -->
  <!-- <param -->
  <!--     name="robot_description" -->
  <!--     command="$(find xacro)/xacro.py -\-inorder '$(find rrbot_description)/urdf/rrbot.xacro'" -->
  <!--     /> -->

  <!-- Show in Rviz  -->
  <node
      name="rviz"
      pkg="rviz"
      type="rviz"
      args="-d $(find rrbot_description)/launch/rrbot.rviz"/>

</launch>
