<?xml version="1.0" ?>
<robot name="hal_rrbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- rrobot -->
  <xacro:include
      filename="$(find rrbot_description)/urdf/rrbot.xacro"/>

  <!-- Add gripper macro attached at rrbot link3 -->
  <xacro:include
      filename="$(find hal_rrbot_control)/urdf/hal_rrbot_gripper.xacro"/>
  <xacro:hal_rrbot_gripper
      prefix=""
      parent_link="link3"
      offset="${height3}"
      />

</robot>
